extends ../layouts/base

block variables
    - pageLang = ""
    - pageTitle = ""
    - pageDescription = ""
    - pageKeywords = ""
    - pageUrl = ""


block body-content

    +page-header({
        pageHeaderTitle: "Free HTML5 and CSS3 Website Templates"
    })


    +page-content
        block page-content-gallery

            +gallery({
                galleryItems: gallery
            })


    +page-footer({
        pageFooterSiteOrganizationName: config.site.organizationName,
        pageFooterSiteOrganizationLink: config.site.organizationLink,
        pageFooterSiteAuthorName: config.site.authorName,
        pageFooterSiteAuthorLink: config.site.authorLink
    })
