extends ../layouts/base

block variables
	- pageLang = ""
	- pageTitle = "Page name"
	- pageDescription = "Page-specific description"
	- pageKeywords = "Page-specific keywords"
	- pageUrl = ""


block body-content
	//- Block name
	+block-name({
		blockName: {
			role: "main",
			class: "js-main"
		},
		__elementName: {
			class: "is-active"
		},
		key: "value"
	})

