////////////////////////////////////////
// $Gallery
////////////////////////////////////////

//////////////////////////////////////// Block variables

// Colors
$c-page-gallery-isle-inner_bg = #fff
$c-page-gallery-isle-inner_sh = rgba(0, 0, 0, .4)

$c-page-gallery-preview-caption_bg = #fff

$c-page-gallery-preview-title_c = #333
$c-page-gallery-preview-link_c = #333

$c-page-gallery-preview-status_c = #333
$c-page-gallery-preview-status_bg = transparent
$c-page-gallery-preview-status_bd = #333
$c-page-gallery-preview-status-archived_bg = #95a5a6
$c-page-gallery-preview-status-archived_bd = #95a5a6
$c-page-gallery-preview-status-active_bg = #27ae60
$c-page-gallery-preview-status-active_bd = #27ae60

$c-page-gallery-preview-authorship_c = #333


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block = ".gallery"

{$block}

    // $Gallery flow layout
    &__flow
        display flex
        flex-direction row
        justify-content flex-start
        align-items flex-start
        flex-wrap wrap
        width 100%
        padding 1.5vw

        @media screen and (max-width: 960px)
            padding 20px

        @media screen and (max-width: 640px)
            padding 15px

        @media screen and (max-width: 480px)
            padding 10px


    // $Gallery flow layout isle item
    &__isle
        flex-grow 0
        flex-shrink 1
        width 25%
        padding 1.5vw

        @media screen and (max-width: 2560px)
            width 33.3%

        @media screen and (max-width: 1760px)
            width 50%

        @media screen and (max-width: 960px)
            width 100%
            padding 20px

        @media screen and (max-width: 640px)
            padding 15px

        @media screen and (max-width: 480px)
            padding 15px 10px


    // $Gallery flow layout isle item inner container
    &__isle-inner
        position relative
        z-index 5
        width 100%
        height 0
        padding-bottom 62.5%
        background-color $c-page-gallery-isle-inner_bg
        box-shadow 0 0.1vw 1vw -0.1vw $c-page-gallery-isle-inner_sh
        border-radius 0.5vw
        overflow hidden

        @media screen and (max-width: 960px)
            box-shadow 0 2px 20px -2px $c-page-gallery-isle-inner_sh
            border-radius 5px


    // $Gallery flow layout isle item content area
    &__isle-content
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        z-index 1
        overflow hidden


    // $Gallery preview
    &__preview
        position relative
        width 100%
        height 100%


    // $Gallery preview image
    &__preview-image
        width 100%
        height 100%
        overflow hidden

        // $Gallery preview image picture
        & img
            display block
            width 100%
            min-height 100%


    // $Gallery preview caption
    &__preview-caption
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        z-index 2
        display flex
        flex-direction column
        justify-content center
        align-items center
        background-color $c-page-gallery-preview-caption_bg
        opacity 0
        transition: opacity .3s

        // $Gallery preview caption CONTEXT: // $Gallery preview hovered state
        {$block}__preview:hover &
            opacity 1


    // $Gallery preview information
    &__preview-info
        flex-grow 0
        flex-shrink 1
        max-width 100%
        padding 30px 20px 20px

        @media screen and (max-width: 480px)
            padding 20px 10px


    // $Gallery preview title
    &__preview-title
        display block
        margin 0 auto 20px
        font-family $f-sans
        font-size 26px
        font-weight bold
        line-height 1
        color $c-page-gallery-preview-title_c
        text-align center

        @media screen and (max-width: 960px)
            font-size 24px

        @media screen and (max-width: 480px)
            margin-bottom 15px

        @media screen and (max-width: 320px)
            margin-bottom 10px
            font-size 22px


    // $Gallery preview links
    &__preview-links
        text-align center
        white-space nowrap


    // $Gallery preview link
    &__preview-link
        display inline-block
        font-family $f-sans
        font-size 18px
        line-height 1
        text-decoration none
        color $c-page-gallery-preview-link_c

        &:hover
            text-decoration underline

        &:not(:last-of-type)
            margin-right 20px

        // $Gallery preview link MOD: role demo
        // $Gallery preview link MOD: role source
        &_role_demo,
        &_role_source
            &:before
                display inline-block
                margin-right 10px
                font-family "site-icons"
                font-size 18px
                line-height 1
                vertical-align baseline

                {$block}__preview-link:hover &
                    text-decoration none

        // $Gallery preview link MOD: role demo
        &_role_demo
            &:before
                content "\f108"

        // $Gallery preview link MOD: role source
        &_role_source
            &:before
                content "\f09b"


    // $Gallery preview status
    &__preview-status
        position absolute
        top 10px
        right 10px
        z-index 3
        display inline-block
        font-family $f-sans
        font-size 14px
        line-height 1
        font-weight 400
        color $c-page-gallery-preview-status_c
        white-space nowrap
        text-transform uppercase

        @media screen and (max-width: 320px)
            top 8px
            right 8px
            font-size 12px

        &:after
            content ""
            box-sizing border-box
            display inline-block
            width 10px
            height 10px
            background-color $c-page-gallery-preview-status_bg
            border-radius 50%
            border 2px solid $c-page-gallery-preview-status_bd
            vertical-align middle

            @media screen and (max-width: 320px)
                width 8px
                height 8px
                border-width 1px

        // $Gallery preview status MOD: state archived
        &_state_archived:after
            background-color $c-page-gallery-preview-status-archived_bg
            border-color $c-page-gallery-preview-status-archived_bd

        // $Gallery preview status MOD: state active
        &_state_active:after
            background-color $c-page-gallery-preview-status-active_bg
            border-color $c-page-gallery-preview-status-active_bd

        // $Gallery preview status text
        & > span
            display inline-block
            margin-right 5px
            vertical-align middle

    // $Gallery preview authorship
    &__preview-authorship
        position absolute
        bottom 10px
        right 10px
        left 10px
        z-index 3
        display inline-block
        font-family $f-sans
        font-size 12px
        line-height 1
        font-weight 400
        color $c-page-gallery-preview-authorship_c

        @media screen and (max-width: 320px)
            font-size 10px

        // $Gallery preview authorship marked text
        & > b
            font-weight bold
