
.icon-angle-left:before { content: '\e800'; } /* '' */
.icon-angle-right:before { content: '\e801'; } /* '' */
.icon-angle-up:before { content: '\e802'; } /* '' */
.icon-angle-down:before { content: '\e803'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */